$base-color: #26c580;
$second-color: #fff;
.flex-center-vertically {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-text-style {
  font-size: 16px;
  margin-top: 3px;
}

label {
  color: $base-color;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  position: relative; 
  width: 18px;
  span {
    background-color: transparent;
    border: 1px solid #cecece !important;
    border-radius: 4px;
    box-sizing: initial;
    display: inline-block;
    height: 15px;
    margin-right: 8px;
    position: relative;
    transform-origin: center;
    transition: background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89); 
    vertical-align: -6px;
    width: 15px;
    &:before {
      background: $base-color;
      content: "";
      height: 2px;
      position: absolute;
      top: 8px; 
      transform-origin: 0% 0%;
      transform: rotate(45deg);
      transition: width 50ms ease 50ms;
      left: 4px; 
      width: 0px;
    }

    &:after {
      background: $base-color;
      content: "";
      height: 2px;
      left:5px; 
      position: absolute;
      top: 12px; 
      transform-origin: 0% 0%;
      transform: rotate(305deg);
      transition: width 50ms ease;
      width: 0;
    }

    &.disabled {
      background: #c7c7c7;
      cursor: text !important;
      pointer-events: none !important;
    }
  }
  &.disabled {
    cursor: default !important;
    pointer-events: none !important;
  }
}

input[type="checkbox"] {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin-right: -17px;
  margin-top: 3px;
  opacity: 0;
  position: relative;
  transform-origin: center;
  -webkit-transform-origin: center;
  width: 17px;
  z-index: 10;
  &:before {   
    background: $base-color;
    content: "";
    height: 2px;
    left: 4px; 
    position: absolute;
    top: 8px; 
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    transition: width 50ms ease 50ms;
    width: 0px;
  }

  &:after {
    background: $base-color;
    content: "";
    height: 2px;
    left: 5px; 
    position: absolute;
    top: 12px; 
    transform-origin: 0% 0%;
    transform: rotate(305deg);
    transition: width 50ms ease;
    width: 0;
  }

  &:checked {
    + label {
      span {
        background-color: $base-color;
        border: 1px solid #26c580 !important;
        &:after {
          background: $second-color;
          transition: width 150ms ease 100ms; 
          width: 10px;
        }

        &:before {
          background: $second-color;
          transition: width 150ms ease 100ms; 
          width: 5px;
        }
      }    
    }
  }

  &.disabled {
    cursor: default !important;
    pointer-events: none !important;
  }
}