.popover-container {
  outline: none;
  position: relative;
  width: inherit;
  .popover-trigger {
    cursor: pointer;
    position: relative;
    width: fit-content;
  }

  .popover-details {
    background-color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin: 0 !important;
    padding: 32px;
    z-index: 100;
    width: 100%;
  }
}
